@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

@font-face {
  font-family: "bebas";
  src: url("../Startup-de-Games-Indie/fonts/bebas.ttf");
}

@font-face {
  font-family: "cabin";
  src: url("../Startup-de-Games-Indie/fonts/cabin.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #333333;
}

header {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  padding: 20px;
  text-align: center;
}


#slogan {
  font-family: "cabin";
  font-size: 14px;
  color: #cccccc;
  margin-inline: 46%;
}

#titulo-nav {
  font-family: "bebas";
  font-size: 24px;
  margin-inline: 46%;
  color: #ffcc00;
}



.nav-flex {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  background-color: #333333;
  padding: 10px;
  border-radius: 5px;
  margin-inline: 10%;
}

.nav-flex a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

.nav-flex a:hover {
  color: #ffcc00;
}

.navbar-brand {
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
}

.corpo {
  padding: 20px; /* Espaçamento interno */
  margin-inline: 10%; /* Margem lateral para centralizar o conteúdo */
  position: sticky;
}

.apresentacao {
  font-family: "cabin";
}

.apresentacao h2 {
  font-family: "bebas", sans-serif;
  font-size: 32px;
  margin-bottom: 20px;
}

.card {
  background-color: #f0f0f0;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px; /* Espaçamento entre os cards */
}

.card h5 {
  font-family: "bebas", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

#icon {
  font-size: 48px;
  color: #333333;
  margin-bottom: 10px;
  margin-left: 3%;
}

footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}

/* JOGOS */

table {
  width: 70%;
  margin: 0 auto;
  border-collapse: collapse;
}

#titulo-game {
  font-family: "bebas", sans-serif;
  margin-bottom: 20px;
  top: 50%;
}

/* galeria */

.d-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.d-grid img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.d-grid figcaption {
  text-align: end;
  font-family: "bebas";
  margin-top: 10px;
}

#p-galeria {
  font-family: "cabin";
  text-align: center;
  margin-top: 20px;
}
